<!--Esta pagina de Products, nos demuestra el producto que el usuario slecciona en su busqueda de productos especificos-->
@model DJMaxStore.Models.Product
<div class="row panel">
    <div class="col-xs-4">
        <img src="@Model.Image" alt="@Model.ProductName" title="@Model.ProductName">
    </div>
    <!--Esta accion de la forma de HTML llama de la base de datos de Products, de la informacion de la
        columna ProductName, Description y Price-->
    <div class="well col-xs-8">
        <h3>
            @Html.DisplayFor(modelItem => Model.ProductName)
        </h3>
        <p>
            @Html.DisplayFor(modelItem => Model.Description)
        </p>
        <p class="pull-right label label-primary">
            $@Html.DisplayFor(modelItem => Model.Price)
        </p>
        <p>
            <!--Esto son enlaces para ver la informacion de la columna en la base de datos
                de Products de ItemDetail, dependiendo del ProductID seleccionado-->
            @Html.ActionLink("More Info", "Index", "ItemDetail", new { id = Model.ProductID }, new { id = "ProductID" })
        </p>
    </div>
</div>

